#aboutjumbotron {
    padding-top:50px;
    padding-left:50px;
    background-color: #f8f9fa;
}

.about-section-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.about-deck {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.about-card {
    background: none;
    background-color: white;
    border: 1px solid gray;
    max-width: 300px;
    min-width: 300px;
    transition: none;
    margin-left: 5px;
    margin-right: 5px;
}

.about-card:hover {
    box-shadow: none;
}

.about-img {
    width: 100%;
    border-bottom: 1px solid gray;
}

.about-card-text {
    padding-top: 20px;
}

.stat-icon {
    width: 27px;
    float: left;
    padding-right: 10px;
    padding-top: 3px;
    margin-top: -10px;
}

.mem-stats-text {
    margin-top: -10px;
}


.stats-row {
    padding: 10px;
    justify-content: center;
}

.stats-col {
    text-align: center;
    padding-bottom: 40px;
}

.tool-card {
    max-width: 250px;
    min-width: 250px;
}

.repo-card {
    max-width: 150px;
    min-width: 150px;
}
