#aboutjumbotron {
    padding-top:50px;
    padding-left:50px;
    background-color: #f8f9fa;
}

.critiquecontent {
    margin-left:5%;
    margin-right:5%;
}

.critiquesubsection {
    margin-left:3%;
}
