html, body {
    height : 100%;
}

#root , #jsxcontainer{
    height : 100%;
}

#mainblock {
    background-image : url("../images/capitol.jpg");
    background-size : cover;
    background-position : center center;
    height:100%;
    padding-top:100px;
    padding-left:50px;
    padding-right:50px;
}

#mainjumbotron {
    display:inline-block;
    padding:25px;
    width:auto;
}
